@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(45deg, #8e2de2, #4a00e0);
    background-repeat: no-repeat;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    font-family: "Poppins", sans-serif ;
}

.main {
    margin-top: 125px;
    margin-left: 125px;
    align-items: left;
    text-align: center;
    width: 40%;
}

.main button {
    font-size: 2.5em;
    margin: 5% auto;
    padding: 0.2em 0.4em;
    background-color: white;
    border-radius: 1em;
    border: 0;
    box-shadow: 0 4px 8px #c39ae7;
    cursor: pointer;
    transition: all 400ms ease;
}

.main button:hover{
    color: #4a00e0;
}

.main button:active {
    background-color: #c0c0c0;
}

.main h1 {
    text-align: center;
    color: white;
    font-size: 50px;
    margin-bottom: 1em;
}

.main p {
    color: white;
    align-items: left;
    text-align: center;
    line-height: 40px;
    font-size: 25px;
}

.image-people {
    display: flex;
    align-items: flex-end;
    padding-left: 17rem;
    padding-right: 10em;
    padding-bottom: 2rem;
}

.image-people img {
    width: 100%;
}

.content {
    align-items: center;
    justify-content: center;
}

.main-to-do {
    background-color: rgba(255, 255, 255, 0.61);
    align-items: center;
    width: 800px;
    height: auto;
    border-radius: 3em;
    padding: 2em;
}

.content h1 {
    text-align: center;
    color: white;
    text-shadow: 1px 3px rgb(81, 54, 102) ;
    font-size: 50px;
}

.content a{
    position: absolute;
    top: 15px;
    left: 25px;
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.input {
    font-size: 20px;
    color: rgb(0, 0, 0);
    font-family: "Poppins";
    width: 96%;
    outline: none;
}

.search-box {
    align-items: center;
    display: flex;
    background-color: white;
    padding: 0.5em 0.5em 0.5em 0.8em;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 2em;
}

.list li{
    list-style: none;
    height: 45px;
    line-height: 45px;
    position: relative;
    background: #f2f2f2;
    border-radius: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0 15px;
    border-radius: 10px;
}

.list li span{
    position: absolute;
    right: 0px;
    color: rgb(199, 41, 41);
    width: 45px;
    text-align: center;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
    padding-right: 0.5em;
}

.footer {
    display: flex;
    justify-content: end;
    margin-right: 5px;
    margin-top: 2em;
}

.footer button {
    background-color: transparent;
    cursor: pointer;
}

.footer img {
    width: 35px;
}

.fa-edit {
    color: black;
}